{% extends 'base.html' %}

{% load static %}
{% block title %}AddState{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="text-light">
        Add Place
    </h1>
</div>

    
    <div class="s-form">

    <div class="form-card container mb-3 p-3">
        <form action="" method="post" enctype="multipart/form-data" onsubmit="return check(this);">
            {% csrf_token %}
            {{f.as_p}}
            <input type="submit" value="Submit" class="btn btn-info text-white bg-opacity-50 ">
        </form>
    </div>
</div>

{% endblock %}