{% extends 'base.html' %}

{% load static %}
{% block title %}Add-More-Places{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="text-light">
        Add more place
    </h1>
</div>
<div class="row">
    <div class="tourview mx-3">
        <img src="{{ m.placeImage.url }}" alt="connect" srcset="">
        <P class="">{{m.state}}</P>
    </div>
    <div class="col-12 col-md-3">
        <div class=" text-light text-center rounded m-3">
            <a class="btn btn-lg shadow btn-outline-light  my-1" href="{% url 'addplace' m.id %}">Add Place</a>
            <a class="btn btn-lg shadow btn-outline-light  my-1" href="{% url 'addpackage' m.id %}">Add Package</a>
        </div>
    </div>
    <div class="col-12 col-md-9">

        <div class="details">
            <div class="t">
                <p class="v-title">State :</p>
                <P class="">{{m.state}}</P>
            </div>
            <div class="t">
                <p class="v-title">Description : </p>
                <P class="">{{m.description}}</P>
            </div>
        </div>

        <div class="moretour">
            {% for i in all_p %}
            <div class="mt_sec">
                <div class="img">
                    <img src="{{ i.placeImage.url }}" alt="connect" srcset=""
                        onclick="openModal('{{ i.placeImage.url }}')">
                    <div id="map"></div>

                </div>

                <div class="content">
                    <div class="text-center">
                        <h2 class="title">
                            {{i.place_name}}
                        </h2>
                    </div>
                    <p class="paragraph">{{i.description}} </p>
                    <p class="cate"><span>State : </span>{{i.tourplace.state}} </p>
                    <p class="cate"> Category : <span class="cate-details">
                            {% for category in i.category.all %}
                            {{ category.c_name }}
                            {% endfor %}
                        </span>
                    </p>
                    <iframe class="m-2 container" src="{{ i.source_link }}" id="map" loading="lazy"></iframe>

                    <a href="{% url 'DeletePlace' i.id %}" class="btn delete btn-sm shadow btn-danger m-3"
                        onclick="return delCaro(this);">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>




    </div>
</div>
{% if pack %}
<div class="card-bg container  py-2 state-tours shadow mt-3 mb-3">
    {% for i in pack %}
    <div class="pack-card">
        <div class="pack-img"><a href="{% url 'packageview' i.id %}"><img src="{{ i.tourplace.placeImage.url }}" alt="" class="" /></a></div>
        <div class="title text-center">
            <h3>{{i.pack_name}}</h3>
        </div>
        <div class="price">
            <h5><span>Rs </span>{{i.pack_price}}</h5>
        </div>
        <a href="{% url 'deletepack' i.id %}" class="btn btn-outline-danger rounded-pill book-btn"
                        onclick="return delCaro(this);">Delete</a>
    </div>
    {% endfor %}
</div>
{% endif %}
 


<div id="myModal" class="modal">
    <span class="close" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="img01">
</div>


{% endblock %}

{% block js %}
{% endblock %}