<div class="box-shadow">
<div class="search-bar text-center ">
    <h1 class="text-light font-shadow pb-3">To your Dream location</h1>
    <form action="{% url 'search' %}" method="get">

    <div class="SearchBox">
        <input type="text" class="SearchBox-input me-2" name="q" placeholder=" Search">
        <button class="SearchBox-button">
            <i class="SearchBox-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
            </i>
        </button>
    
    </div>
</form>
</div>
</div>