{% extends 'base.html' %}

{% block title %}
    Terms & Conditions
{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="text-center text-light">
        <h1>Terms & Conditions</h1>
        </div>

        <section id="terms" class="update-card mb-5">
            <p>
                Welcome to our TourForYou! These terms and conditions outline the rules and regulations
                for the use of our application.
            </p>

            <h2>Acceptance of Terms</h2>
            <p>
                By using the Tour Application, you agree to comply with and be bound by these terms and conditions.
                If you do not agree with any part of these terms, you may not use our services.
            </p>

            <h2>Use of the Application</h2>
            <p>
                You agree to use the Tour Application for legitimate purposes and in accordance with all applicable
                laws and regulations. Any use of the application for illegal or unauthorized purposes is strictly prohibited.
            </p>

            <h2>User Responsibilities</h2>
            <p>
                Users are responsible for the accuracy of the information provided and ensuring the security of their
                login credentials. Any misuse or unauthorized access to the Tour Application will result in account suspension.
            </p>

            <h2>Booking and Payment</h2>
            <p>
                The Tour Application may facilitate tour bookings and payments. Users are responsible for reviewing
                and accepting the specific terms of each booking, including cancellation policies and payment terms.
            </p>

            <h2>Changes to Terms</h2>
            <p>
                We reserve the right to update or modify these terms and conditions at any time without prior notice.
                It is the responsibility of users to regularly check for changes. Continued use of the application
                after such modifications constitutes acceptance of the updated terms.
            </p>

    </div>

{% endblock %}
