{% extends 'base.html' %}

{% block title %}Updates - Your Tour App{% endblock %}

{% block content %}
    <div class="container mt-5 mb-5">
        <div class="text-center text-light">
        <h2>Latest Updates</h2>
    </div>
        <div class="card p-3">
        <div class="update-card">
            <h3>Exciting New Destinations Added!</h3>
            <p class="update-date">Published on: November 15, 2023</p>
            <p>We are thrilled to announce that we have added new and exciting destinations to our list of tours. Explore these amazing places and create unforgettable memories with us!</p>
        </div>

        <div class="update-card">
            <h3>Upcoming Events</h3>
            <p class="update-date">Published on: November 10, 2023</p>
            <p>Don't miss out on our upcoming events! Join us for special tours, activities, and cultural experiences. Stay tuned for more details.</p>
        </div>
    </div>


    </div>
{% endblock %}

